<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodaIconMaskFile</key>
	<string>todo</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>gr.olivier.plugin.TODOFIXMEsidebar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TODO</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>CodaDescriptionString</key>
	<string>A TODO and FIXME sidebar</string>
	<key>CodaIconMaskTintString</key>
	<string>#91B05A</string>
	<key>CodaAuthorString</key>
	<string>Olivier Grenet</string>
</dict>
</plist>
